<%- layout('layouts/boilerplate')  %> 
<h1>Calculator App</h1>
<a href="/add">Add two numbers</a>
<a href="/subtract">Subtract two numbers</a>
<a href="/multiply">Multiply two numbers</a>
<a href="/divide">Divide</a>
