<%- layout('layouts/boilerplate')  %> 
<h1>Calculator App</h1>
<h4>Calculator Options</h4>
<ul type="none">
    <li><a href="/add">Add two numbers</a></li>
    <li><a href="/subtract">Subtract two numbers</a></li>
    <li><a href="/multiply">Multiply two numbers</a></li>
    <li><a href="/divide">Divide two numbers</a></li>
</ul>

<h4>Converter Options</h4>
<ul type="none">
    <li><a href="/binarytodecimal">Binary to Decimal</a></li>
    <li><a href="/binarytooctal">Binary to Octal</a></li>
    <li><a href="/binarytohexadecimal">Binary to Hexadecimal</a></li>
</ul>


