<%- layout('layouts/boilerplate')  %> 
<h1>Change Binary Number to Decimal Number</h1>

<script>
let binaryNumber = 1010;
let rem;
let decimalNumber = 0;
let binaryDigits = [];

while(binaryNumber){
	rem = binaryNumber%10;
	binaryNumber = parseInt(binaryNumber/10);
	binaryDigits.push(rem);
}

for(let i=0; i < binaryDigits.length; i++){
	decimalNumber = decimalNumber + binaryDigits[i] * Math.pow(2, i);
}
console.log(decimalNumber)
</script>