<%- layout('layouts/boilerplate')  %> 
<h1>Subtraction</h1>
<section>
    <form>
        <div>
            <label for="firstNumber"  class="form-label">Enter First Number: </label>
            <input type="number" id="firstNumber" name="firstNumber"  class="form-control">
        </div>
        <div>
            <label for="secondNumber"  class="form-label">Enter Second Number: </label>
            <input type="number" id="secondNumber" name="secondNumber"  class="form-control">
        </div>
        <button id="divide">Subtract</button>
    </form>
    <article id="result">
    </article>
</section>  
<script>
    const add = document.querySelector('#divide');
    add.addEventListener('click', (e) => {
        e.preventDefault();
        let firstNumber = parseFloat(document.querySelector('#firstNumber').value);
        let secondNumber =  parseFloat(document.querySelector('#secondNumber').value);
        const result = document.querySelector('#result');
        result.innerText = firstNumber - secondNumber;
    });
</script>  
